/*!media */
@media screen and (min-width:1200px) {
    h2{
        width: 70%;
    }
    header{
        background-image: url(./images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-position: center;
        padding: 1.5em;
    }
    header nav button{
        width: 10%;
        padding: 1em;
    }
    header nav {
        padding: 2em;
        margin-bottom: 4em;
    }
    .button button{
        width: 40%;
    }
    .b-div{
        float: left;
        text-align: start;
        width:30% ;
    }
    .image-2 img{
        float: right;
        width: 50%;
        position: relative;
        animation: moving 3s ease-in-out alternate;
        -webkit-animation: moving 3s ease-in-out alternate;
}
    @keyframes moving {
        0% {
            left: 100%;
        }
        100% {
            left: 0;
        }
      }
    /* ?start main */
    main{
        text-align: start;
    }
    .contianer{
        width: 85%;
    }
    .img-c{
        float: right;
        width: 40%;
        transform: translate(5em);
    }
    .img-c img{
        width: 50%;
        
    }
    .content{
        float: left;
        width: 35%;
    }
    .t-section{
        margin-bottom: 10em;
    }
    /* ?footer */
    footer .box{
        width: 40%;
        left: 30%;
    }
    .box a button{
        width: 30%;
    }
    footer .icon{
        text-align: start;
    }
    footer .logo{
        width: 50%;
    }
    .parent{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: 300px;
        padding: 1.5em;
    }
     footer .column-1{
        width: 21%;
        height: 80%;
        transform: translate(0,-5em);
    }
     .s-link{
        height: 60%;
        width: 20%;
        align-self: center;
        align-content: center;
     }
     footer .icon{
        justify-content: start;
        height: 60%;
     }
    footer .copyright{
        position: absolute;
        bottom: 0;
        right: 10%;
    }
    #colors{
    transform: translate(30em , -6em);
    }
    #colors span{
        background-color:#faccff;
        display: inline-block;
        width: 90px;
        height:90px;
        border-radius: 50%;
        margin: 1em;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    #colors span:hover{
        transform: scale(1.5);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
    #colors span:nth-child(2){
        background-color: #c4fcef;
    }
    #colors span:nth-child(3){
        background-color: #dcebf1;
    } 
    #colors span:last-child{
        background-color:rgba(214, 208, 208, 0.106);
    }


    .contianer{
        position: relative;
        animation: contianer 10s ease-in-out alternate;
        -webkit-animation: contianer 10s ease-in-out alternate;
    }
    .contianer:nth-child(2){
        position: relative;
        animation: start 10s ease-in-out alternate;
        -webkit-animation: start 10s ease-in-out alternate;
    }
    @keyframes contianer {
        0% {
            left: 100%;
        }
        100% {
            left: 0;
        }
      }
      @keyframes start {
        0% {
            right: 100%;
        }
        100% {
            right: 0;
        }
      }
    }